@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
 font-family: "Ysabeau Infant", sans-serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}

h1{
 font-size: 3.9rem;
}

h2{
 font-size: 2.5rem;
}

h3{
 font-size: 2rem;
}

h4{
 font-size: 1.8rem;
}

h5{
 font-size: 1.5rem;
}

h6{
 font-size: 1rem;
}

p{
 font-size: 1.5rem;
}

:root{
 --primary-font-color: black;
 --secondary-font-color: rgb(122, 121, 121);
 --primary-bg-color:white;
}

body{
 width: 100vw;
 min-height: 100vh;
 background: var(--primary-bg-color);
}

.container{
 width: 90%;
 margin: 0 auto;
}

nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 5rem;
}

nav .logo a{
 font-size: 3rem;
 font-weight: 700;
 color: var(--primary-font-color);
}

nav ul{
 display: flex;
 gap: 2rem;
}

nav ul li a{
 position: relative;
 padding-bottom: 5px; 
 transition: border 300ms ease; 
 font-size: 2rem;
 color: var(--primary-font-color);
}

nav ul li a::after{
 content: '';
 position: absolute;
 left: 0;
 bottom: 0;
 height: 1px;
 width: 0%;
 background: var(--primary-font-color);
 transition: width 300ms ease;
}

/* nav ul li a.active::after{
 width: 100%;
} */

nav ul li a:hover::after{
 width: 100%;
}





.hero{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 5rem auto;
}
.hero .profile{
 width: 50%;
}
.hero .profile label{
 font-size: 2rem; 
}

.hero .profile-image{
 height: 400px;
 width: 400px;
}

.hero .profile-image img{
 width: 100%;
 overflow: hidden;
 border: 1px solid var(--primary-font-color);
 border-radius: 50%;
}




.about-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 4rem;
}


.skill-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 gap: 1rem;
 align-items: center;
}




