@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  font-family: "Ysabeau Infant", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
}

:root {
  --primary-color: black;
  --secondary-color: rgb(122, 121, 121);
  --primary-bg-color: white;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--primary-bg-color);
  scroll-behavior: smooth;
}

button {
  border-radius: 2rem;
  padding: 1rem 2.3rem;
  border: 1px solid black;
  font-size: 1rem;
  background: white;
  cursor: pointer;
  transition: background 400ms ease, color 499ms ease;
}

button:hover {
  background: var(--primary-color);
  color: var(--primary-bg-color);
  box-shadow: 0 0 1rem 1px var(--secondary-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--primary-bg-color);
  z-index: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

header nav .toggle {
  display: none;
}

nav .logo a {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  position: relative;
  padding-bottom: 5px;
  transition: border 300ms ease;
  font-size: 1.5rem;
  color: var(--primary-color);
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background: var(--primary-color);
  transition: width 300ms ease;
}

/* nav ul li a.active::after{
 width: 100%;
} */

nav ul li a:hover::after {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  min-height: 75vh;
  padding-top: 5rem;
}

.hero .profile {
  width: 50%;
}

.hero .profile ul {
  display: flex;
  gap: 1rem;
  margin: 1.5rem auto;
}

.hero .profile ul li a {
  height: 30px;
  width: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  transition: background 400ms ease, color 400ms ease;
}

.hero .profile ul li a:hover {
  background: var(--primary-color);
  color: var(--primary-bg-color);
  box-shadow: 0 0 1rem 1px var(--secondary-color);
}

.hero .profile label {
  font-size: 2rem;
}

.hero .profile h1 {
  background: linear-gradient(to right,
      rgb(10, 10, 10),
      rgb(99, 100, 99),
      rgb(165, 165, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .profile h2 {
  display: flex;
  margin-bottom: 1rem;
}

.hero .profile h2 span {
  display: inline-block;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 2px solid #000000;
  animation: typing 6s steps(17, end) infinite;
}

@keyframes typing {
  0% {
    width: 0ch;
  }

  40% {
    width: 17ch;
  }

  50% {
    width: 17ch;
  }

  90% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

.hero .profile-image {
  display: flex;
  height: 400px;
  width: 400px;
  transform-style: preserve-3d;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }

  25% {
    transform: translateY(-20px) rotateX(5deg) rotateY(5deg);
  }

  50% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg);
  }

  75% {
    transform: translateY(-20px) rotateX(-5deg) rotateY(-5deg);
  }
}

.hero .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  object-fit: cover;
  border: 6px solid transparent;
  box-shadow: 0 0 50px var(--secondary-color), 0 0 100px rgba(0, 0, 0, 0.5),
    0 0 150px rgba(0, 0, 0, 0.3);
  animation: glow 3s infinite alternate, morph 12s ease-in-out infinite;
  position: relative;
  z-index: 10;
  background: linear-gradient(45deg,
      var(--primary-bg-color),
      var(--secondary-color));
}

@keyframes glow {
  0% {
    box-shadow: 0 0 40px var(--primary-color), 0 0 80px rgba(0, 0, 0, 0.5),
      0 0 120px rgba(0, 0, 0, 0.3);
    border-color: var(--primary-color);
  }

  100% {
    box-shadow: 0 0 60px var(--primary-color), 0 0 120px rgba(0, 0, 0, 0.7),
      0 0 180px rgba(0, 0, 0, 0.5);
    border-color: var(--secondary-color);
  }
}

@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  33% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }

  66% {
    border-radius: 18% 82% 41% 59% / 59% 54% 46% 41%;
  }

  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

.glow-effect {
  height: 110%;
  top: -5%;
  left: -5%;
  border-radius: 50%;
  background: var(--primary-color);
  filter: blur(60px);
  opacity: 0.3;
  z-index: 1;
  animation: pulse 4s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
    transform: scale(0.95);
  }

  100% {
    opacity: 0.4;
    transform: scale(1.05);
  }
}

.about h2,
.skills h2,
.services h2,
.contact h2 {
  text-align: center;
  padding: 4rem 0;
}

.about {
  margin: 5rem auto;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 3rem;
}

.about-container .about-image img {
  width: 100%;
}

.skills {
  margin: 5rem auto;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  align-items: center;
}

.skill-container .skill {
  border: 1px solid var(--primary-color);
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  min-height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 400ms ease;
}

.skill-container .skill i {
  font-size: 3.5rem;
  transition: transform 500ms ease, filter 500ms ease, color 500ms ease;
}

.skill-container .skill h6 {
  font-weight: 800;
  opacity: 0;
  transition: opacity 500ms ease;
}

.skill-container .skill:hover {
  box-shadow: 5px 5px 7px 1px var(--secondary-color);
  padding-bottom: 0;
}

.skill-container .skill:hover i {
  transform: translateY(-2rem) scale(1.15);
  filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.3));
  color: var(--secondary-color);
}

.skill-container .skill:hover h6 {
  opacity: 1;
}

.services {
  margin: 5rem auto;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.service-container .service {
  padding: 3rem;
  border-radius: 10px;
  position: relative;
  background: var(--primary-bg-color);
}

.service-container .service i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.service-container .service::before,
.service-container .service::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  z-index: -1;
  padding: 5px;
  /* background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545); */
  background-image: conic-gradient(from var(--angle),
      transparent 60%,
      var(--primary-color));
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.service-container .service::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.service-container .service h4 {
  margin-bottom: 1.5rem;
}

.contact {
  margin: 5rem auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
}

.contact-container input,
.contact-container textarea {
  padding: 1rem;
}

.contact-container button {
  width: 10rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer ul a {
  color: var(--primary-color);
  transition: text-shadow 400ms ease;
}

footer a:hover {
  text-shadow: 1px 1px 2px var(--secondary-color);
}



@media (max-width: 1024px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 0.95rem;
  }

  p {
    font-size: 1.3rem;
  }

  .container {
    width: 90%;
  }

  nav {
    height: 4rem;
  }

  nav ul {
    gap: 1rem;
  }

  nav ul li a {
    font-size: 1.3rem;
  }

  .hero .profile label {
    font-size: 1.5rem;
  }

  .hero .profile-image {
    height: 275px;
    width: 275px;
  }

  .hero {
    margin: 0 auto;
    min-height: 65vh;
    padding-top: 0rem;
  }

  .about {
    margin: 0 auto;
  }

}


@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 1.1rem;
  }

  nav .logo a {
    font-size: 2.5rem;
  }

  header nav ul {
    display: none;
  }

  header nav .toggle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
  }

  header nav .toggle span {
    display: block;
    width: 23px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 2px;
    transition: transform 0.3s ease;
  }

  .toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .hero {
    flex-direction: column-reverse;
    padding-top: 7rem;
  }

  .hero .profile {
    width: 100%;
    margin-top: 5rem;
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .skill-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .contact-container {
    width: 75%;
  }

  footer ul {
    gap: .4rem;
  }

  footer ul:nth-of-type(1) {
    display: none;
  }

}